
.item-header     { x: 0; y: 0; width: 100%; height: 25 }
.item            { x: 0; y: 0; width: 100%; height: 117; }
.item-footer     { x: 0; y: 0; width: 100%; height: 20; }

.tile-divider-bottom {
  fill: grey;
}

text {
    font-family: "System-Regular"; 
    fill: white;
}

.cointext { 
    font-family: "System-Bold";
}

.slash { 
    fill: #f9990d;
}

.nowprice { 
    font-family: "System-Bold";
    fill: white;
}

.updated { 
    fill: #a1a1a1;
    opacity: 0.7;
}

/*price up color is #5eaa29 and down is #b73709. Greyed out is #303030 NOTE: this was changed slightly with PNG triangles*/ 

.pricechange_text {
    fill: #a1a1a1;
}

.days { 
    font-family: "System-Bold";
    fill: black;
}
