
.item-header     { x: 0; y: 0; width: 100%; height: 25 }
.item            { x: 0; y: 0; width: 100%; height: 117; }
.item-footer     { x: 0; y: 0; width: 100%; height: 20; }

.tile-divider-bottom {
  fill: grey;
}

text {
    font-family: 'Open Sans', sans-serif;
}

.cointext { 
    font-weight: bold;
    fill: white;
}

.slash { 
    fill: #f9990d;
}

.valuetext { 
    fill: white;
}

.nowprice { 
    font-weight: bold;
    fill: white;
    letter-spacing: 2.5px;
}

.updated { 
    fill: #a1a1a1;
    opacity: 0.7;
    letter-spacing: 1.1px;
}

/*price up color is #5eaa29 and down is #b73709. Greyed out is #303030 NOTE: this was changed slightly with PNG triangles*/ 

.pricechange_text {
    fill: #a1a1a1;
}

.days { 
    font-weight: bold;
    fill: black;
}

.iconholder_spin {
    stroke-opacity:0.4;
}

/* when price arrows are greyed out, subtle opacity should be added to make them stand out less like the following */

.pricedown {
    opacity: 0.6;
}
